@model IEnumerable<ShareABite2.Models.RecipeModel>

@{
	ViewData["Title"] = "Recipes";
}
<div id="fb-root"></div>
<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>


<h2>My Recipes</h2>
<p>
	Your favorite recipes are an integral part of your family. Below is a list of your added family recipes
</p>

<div class="row">
	@foreach (var item in Model)
	{

	<div class="col-sm-4 recipe">
		<h3>
			@Html.DisplayFor(modelItem => item.RecipeName)
		</h3>
		<div class="jumbotron" style="background-image: url(@Html.DisplayFor(modelItem => item.ImgUrl))">
		</div>
		<div class="row recipe-Details">
			<div class="col-sm-6 pull-left">
				@Html.DisplayFor(modelItem => item.CookTime) Minutes
			</div>
			<div class="col-sm-6 pull-right">
				@Html.DisplayFor(modelItem => item.Servings) People
			</div>
		</div>
		@if (!String.IsNullOrEmpty(item.Story))
		{
		<h4>Story</h4>
		<p class="recipe-story" data-RecipeId="@item.RecipeId">
			@Html.DisplayFor(modelItem => item.Story)
		</p>
		} else {
		<h4>Description</h4>
		<p class="recipe-story" data-RecipeId="@item.RecipeId">
			@Html.DisplayFor(modelItem => item.Description)
		</p>
		}

		<div class="row recipe-footer">
			<div class="col-sm-4 recipe-footer-share">
				<!--View/Edit-->
				<a asp-action="Edit" asp-route-id="@item.RecipeId" class="">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a>
				<a href="/View/Recipe/@item.RecipeId" class="">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
				</a>
			</div>
			<div class="col-sm-4 recipe-footer-share">
				<!--Twitter-->
			</div>
			<div class="col-sm-4 recipe-footer-share">
				<!-- Your share button code -->
				<div class="fb-share-button"
					 data-href="https://shareabiteweb.azurewebsites.net/view/recipe/@item.RecipeId"
					 data-layout="button_count">
				</div>
			</div>
		</div>
	</div>
	}
</div>

<script src="~/js/DataTables/datatables.min.js"></script>

<script>
	$(document).ready(function () {

		readMoreDisplay()
	})

	function readMoreDisplay() {
		$('.recipe-story').each(function (ind,val) {
			let storyLength = $(val).html().length;
			let story = $(val).html();
			let RecipeId = $(val).attr('data-recipeid');
			console.log(RecipeId)
			if (storyLength > 200) {
				story = story.split(200);
				$(val).html(story + " <a href='/Recipe/Details/" + RecipeId+"'>Read More...</a>")
			} else {
				$(val).html(story)
			}
		})
	}
</script>
