@model ShareABite2.Models.RecipeModel

@{
	var title = @Html.DisplayFor(model => model.RecipeName);
	ViewData["Title"] = title;
	var description = @Html.DisplayFor(model => model.Story);
	ViewData["Description"] = description;
	var imageURL = Html.DisplayFor(model => model.ImgUrl);
	ViewData["imageURL"] = imageURL;
}


<div class="container r-container">
	<article class="col-md-10">
		<section class='recipe'>
			<h2 id="recipe_name" class="recipe_name">@Html.DisplayFor(model => model.RecipeName)</h2>
			<h3>
				Added By: <span id="addby">@Html.DisplayFor(model => model.UserId)</span>,
				<time class="time timeago" datetime="@Html.DisplayFor(model => model.DateEdited)"></time>
			</h3>
		</section>

		<section id="categories" class="categories hidden">
			This would be perfect for &nbsp;
			<a href="#">Breakfast</a> <a href="#">Lunch</a> <a href="#">Dinner</a>
		</section>

		<section class="img_des">
			<div class="recipe_image" style="background-image: url=('@Html.DisplayFor(model => model.ImgUrl)')">
				<!-- <img class="recipe_image" src="assets/img/chicken-fajita.jpg" alt"bla bla"> -->
			</div>
		</section>
		<section id="StoryDisplay">
			<h4 data-display="show">
				Story <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</h4>
			<div id="story" class="description ">
				@Html.DisplayFor(model => model.Story)

			</div>
		</section>

		<section>
			<h4 data-display="show">
				Description <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</h4>
			<div id="description" class="description ">
				@Html.DisplayFor(model => model.Description)
			</div>
		</section>

		<section>
			<h4 data-display="hidden">
				Ingredients <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</h4>
			<div id="ingredients" class="ingredients ">
				<ul id="ingredients_list"></ul>
			</div>
		</section>

		<section>
			<h4 data-display="hidden">
				Put it all together <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</h4>
			<div id="directions" class="directions">
				<div class="disp row">
					<div class="display col-xs-4">
						<img src="~/images/oven.png" alt="Oven Temperature" class="directions_image"><br>
						<span id="oven" class="directions_display">@Html.DisplayFor(model => model.OvenTemp)˚</span>
					</div>

					<div class="display col-xs-4">
						<img src="~/images/clock.png" alt="Total Prep and Cook Time" class="directions_image"><br>
						<span id="clock" class="directions_display">@Html.DisplayFor(model => model.CookTime) minutes</span>
					</div>

					<div class="display col-xs-4">
						<img src="~/images/servings.png" alt="Servings" class="directions_image"><br>
						<span id="Servings" class="directions_display">@Html.DisplayFor(model => model.Servings)</span>
					</div>
				</div>
				<div id='steps' class="steps">
					@*Dynamic Display*@
				</div>
			</div>
		</section>

	</article>

	<!--Add display on medium and large screen-->
	<aside class="col-md-2 hidden-xs hidden-sm hidden-print visible-md-block visible-lg-block">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Grab A Bite -->
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7521264905632007" data-ad-slot="3529081166" data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</aside>
</div>



<script src="~/js/Timeago/Timeago.js" asp-append-version="true"></script>

<script>
		let recipeStory = '@Html.DisplayFor(model => model.Story)';
		$(document).ready(function () {

			$('.recipe_image').css({
				'background-image': 'url(@Html.DisplayFor(model => model.ImgUrl))'
			});

			console.log(recipeStory)
			if (recipeStory == "") {
				$('#StoryDisplay').hide();
			}


			//display ingredients
			var ingredients = "@Html.DisplayFor(model => model.IngredientsJson)";
			console.log(ingredients)
			ingredients = ingredients.split("&#xA;");
			console.log(ingredients)

			var ing = 1;
			ingredients.forEach(function (ingr) {
				if (ingr.length === 0) {
					//do not display
				} else {
					$('#ingredients_list').append('<li class="ing_display"> <span class=" glyphicon glyphicon-remove-circle"></span> ' + ingr + '</li>');
				}
				ing++
			})


			//if (v.  == '0') {
			//	$('#oven').html('Not Needed');
			//} else {
			//	$('#oven').html(v.oTemp + '&#730;');
			//}
			//$('#clock').html(v.rTime + ' Min');
			//$('#servings').html(v.rServings)

			//display all directions
			var steps = "@Html.DisplayFor(model => model.DirectionsJson)"
			steps = steps.split("&#xA;");

				var st = 1;
			steps.forEach(function (theSteps) {
				if (theSteps.length === 0) {
					//do not display
				} else {
					$('#steps').append('<h5>Step ' + st + '</h5><p>' + theSteps + '</p>');
				}
					st++
				})

				jQuery("time.timeago").timeago();

		});

</script>

